<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
    <body>
        <header>Header</header>
        <div>
            @RenderBody()
        </div>
        
        <footer>Footer</footer>

        <script type="text/javascript" src="@Url.Content("~/js/dist/bundle.js")"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>