<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="@Url.Content("~/js/bower_components/bootstrap/dist/css/bootstrap.min.css")">
</head>
    <body>
        <header>Header</header>
        <div>
            @RenderBody()
        </div>
        
        <footer>Footer</footer>

        @RenderSection("scripts", required: false)
        
    </body>
</html>