<h2>@ViewBag.Message</h2>

<div id="example"></div>
<iframe width="560" height="315" src="//www.youtube.com/embed/pFIOTEyMT18" frameborder="0" allowfullscreen></iframe>

@section scripts
{
    <script>
        alert('Script from section "scripts" loaded.');
    </script>
}