<ul>
    <li>
        @Html.ActionLink("React: Server-rendered page", "ServerRender", "Home", null,  new { target = "_blank"})
    </li>
            
    <li>
        @Html.ActionLink("React: Client-rendered page", "ClientRender", "Home", null,  new { target = "_blank"})
    </li>
</ul>