<h2>@ViewBag.Message</h2>

<div id="example">
    @Html.React("ShakaBrahApp", new {}, "div", "serverRenderedComponent")
</div>

@section scripts
{
    <script>
        console.log('Script from section "scripts" loaded.');
    </script>
}