<h2>@ViewBag.Message</h2>

<div id="example">
    
</div>

@section scripts
{
    <script>
        console.log('Script from section "scripts" loaded.');
    </script>
    
    <script src="@Url.Content("~/js/dist/reactClientRender.js")"></script>
}